<h2><b>About</b></h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody >
      <tr class="color">
        <th scope="row">1</th>
        <td>MarkJacob</td>
        <td>30</td>
        <td>jacob@gmail.com</td>
        <td>1234567891</td>
        <td>NewJersy</td>


      </tr>
      <tr>
        <th scope="row">2</th>
        <td>PraveenManne</td>
        <td>30</td>
        <td>praveen@gmail.com</td>
        <td>1234567892</td>
        <td>NewYork</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ravikumar</td>
        <td>30</td>
        <td>ravikumar@gmail.com</td>
        <td>1234567893</td>
        <td>Los Angeles</td>

      </tr>
      <tr>
        <th scope="row">4</th>
        <td>ShreyasPangal</td>
        <td>25</td>
        <td>shreyas@gmail.com</td>
        <td>1234567894</td>
        <td>California</td>

      </tr>
      <tr>
        <th scope="row">5</th>
        <td>BannuThomas</td>
        <td>25</td>
        <td>bannuthomas@gmail.com</td>
        <td>1234567895</td>
        <td>Texas</td>

      </tr>
      <tr>
        <th scope="row">6</th>
        <td>NikithaRaj</td>
        <td>24</td>
        <td>nikitharaj@gmail.com</td>
        <td>1234567896</td>
        <td>Chicago</td>

      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Chandrani</td>
        <td>24</td>
        <td>chandrani@gmail.com</td>
        <td>1234567897</td>
        <td>Houston</td>

      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Akhila</td>
        <td>24</td>
        <td>akhila@gmail.com</td>
        <td>1234567898</td>
        <td>Seattle</td>

      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Ramya</td>
        <td>24</td>
        <td>ramya@gmail.com</td>
        <td>1234567899</td>
        <td>Washington</td>

      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Charitha</td>
        <td>24</td>
        <td>charitha@gmail.com</td>
        <td>1234567821</td>
        <td>Philadelphia</td>

      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Geethika</td>
        <td>24</td>
        <td>geethika@gmail.com</td>
        <td>1234567822</td>
        <td> Florida</td>

      </tr>
      <tr>
        <th scope="row">12</th>
        <td>Jagan</td>
        <td>24</td>
        <td>jagan@gmail.com</td>
        <td>1234567823</td>
        <td> North Carolina</td>

      </tr>
      <tr>
        <th scope="row">13</th>
        <td>Naveen</td>
        <td>24</td>
        <td>naveen@gmail.com</td>
        <td>1234567824</td>
        <td>Austin</td>

      </tr>
      <tr>
        <th scope="row">14</th>
        <td>Sarfaraz</td>
        <td>24</td>
        <td>sarfaraz@gmail.com</td>
        <td>1234567825</td>
        <td>Dallas</td>

      </tr>
      <tr>
        <th scope="row">15</th>
        <td>Hanumanth</td>
        <td>24</td>
        <td>hanumanth@gmail.com</td>
        <td>1234567826</td>
        <td>San Antonio</td>

      </tr>
    </tbody>
  </table>
